@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") layer(CDNFont);
@layer Reset, CDNFont, Typography, Components, Rounded, Layout, Popup;
@layer Reset {
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption,
  dialog {
    margin: 0;
    padding: 0;
  }
  body,
  textarea,
  button,
  img,
  fieldset,
  dialog {
    border: none;
  }
  textarea {
    resize: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  u,
  ins,
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
    background-color: transparent;
  }
  /* Normalize */
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
}
@layer typography {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
}
@layer Componets.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
  }
  .btn.fullsize {
    width: 100%;
  }
  .btn.ico1::after {
    background: url(../images/ico_book.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
  }
  .btn.base {
    height: 4rem;
    font-size: 1.6rem;
    padding-inline: 2.5rem;
    border: 0.1rem solid;
  }
  .btnblue {
    background-color: #000;
    color: #fff;
    border-color: red;
  }
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: #999999;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  @media (1000px > width) {
    .btn-login {
      display: none;
    }
  }
  .btn-login::before {
    background: url(../images/ico_login.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: #999999;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  @media (1000px > width) {
    .btn-sitemap span {
      overflow: hidden;
      position: absolute;
      border: 0;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
  .btn-sitemap::before {
    background: url(../images/ico_sitemap.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 1.4rem;
    height: 1.4rem;
  }
  @media (1000px > width) {
    .btn-sitemap::before {
      background: url(../images/ico_sitemap_mobile.svg) no-repeat;
      background-size: contain;
      width: 2.8rem;
      height: 2.8rem;
    }
    body:has(#sitemap:popover-open) .btn-sitemap::before {
      background: url(../images/ico_close.svg) no-repeat;
      background-size: contain;
    }
  }
  .btn-search {
    background: url(../images/ico_search.svg) no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    order: 1;
  }
}
@layer Components.Bar {}
@layer components.text {}
@layer Components.tab {}
@layer Componets.List {
  .list-type4 li {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
  }
  .list-type4 li::before {
    display: inline-block;
    margin: 0.8rem 0.4rem 0;
    align-self: start;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background-color: #333;
    border-radius: 10rem;
  }
}
@layer components.table {
  caption {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
.textarea, .select, .input {
  height: 4rem;
  border: 0.1rem solid #000;
  box-sizing: border-box;
  border-radius: 0.4rem;
  background-color: #000;
  padding-inline: 1.2rem;
  color: #000;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}
.textarea::placeholder, .select::placeholder, .input::placeholder {
  color: #000;
}
.textarea:disabled, .select:disabled, .input:disabled {
  background: rgba(0, 0, 0, 0.1);
}
[readonly].textarea, [readonly].select, [readonly].input {
  background: rgba(0, 0, 0, 0.05);
}

.radio-type1 + label {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  color: #000;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@layer Componets.Form {
  .input {
    width: var(--w, 100%);
  }
  .select {
    background: url(../images/bg_select.svg) no-repeat right 1.2rem center;
    background-size: contain;
    padding-right: 3rem;
    appearance: none;
    width: var(--w, 100%);
  }
  .textarea {
    width: 100%;
    height: calc(var(--height, 10) / 10 * 1rem);
    padding-block: 1.5rem;
  }
  .textarea ::placeholder {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 1.2rem;
    line-height: 1.2rem; /* 100% */
    letter-spacing: -0.05rem;
  }
  .radio-type1 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .radio-type1 + label::before {
    background: url(../images/ico_radio_off.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
  }
  .radio-type1:checked + label::before {
    background: url(../images/ico_radio_on.svg) no-repeat;
    background-size: contain;
  }
}
@layer Componets.Rounded {
  .rounded8 {
    border-radius: 0.8rem;
  }
  .rounded20 {
    border-radius: 2rem;
  }
  .rounded30 {
    border-radius: 3rem;
  }
  .rounded-full {
    border-radius: 100rem;
  }
}
@layer Componets.Board {}
@layer layout.Align {
  .align {
    display: flex;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .align.triple > :nth-child(1) {
    justify-self: start;
  }
  .align.triple > :nth-child(2) {
    justify-self: center;
  }
  .align.triple > :nth-child(3) {
    justify-self: end;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .mxauto, .footer__advertisement, .footer__bottom > div, .header__inner, .depth2 > ul {
    width: 122.4rem;
    margin-inline: auto;
  }
  @media (1000px > width) {
    .mxauto, .footer__advertisement, .footer__bottom > div, .header__inner, .depth2 > ul {
      width: 100%;
    }
  }
}
@layer Componets.Gnb {
  @media (1000px > width) {
    .gnb {
      display: none;
    }
  }
  .gnb > ul {
    display: flex;
    gap: 4rem;
  }
  .gnb > ul > li {
    padding-block: 2.4rem;
  }
  .gnb > ul > li > a {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 700;
    background: linear-gradient(to bottom, #fac300, #fac300) no-repeat bottom/0% 1rem;
    transition: 0.5s;
  }
  .gnb > ul > li:hover > a {
    background-size: 100% 1rem;
  }
  .gnb > ul > li:hover .depth2 {
    grid-template-rows: 1fr;
    border-top: 0.1rem solid #fac300;
    translate: 0 -0.1rem;
  }
  .gnb > ul > li:hover .depth2 > ul {
    padding-block: 3rem;
  }
  .depth2 {
    position: fixed;
    left: 0;
    top: anchor(--header bottom);
    z-index: var(--z, 1);
    width: 100%;
    background-color: #ffffff;
    translate: 0;
    display: grid;
    grid-template-columns: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s;
  }
  .depth2 > ul {
    overflow: hidden;
    display: flex;
    gap: 6rem;
    translate: 20.8rem;
    padding-block: 0rem;
    transition: padding-block 0.5s;
  }
  .depth2 > ul > li > a {
    color: #666666;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    font-weight: 700;
    background: linear-gradient(to bottom, #fac300, #fac300) no-repeat bottom/0% 0.3rem;
    transition: 0.5s;
  }
  .depth2 > ul > li:hover > a {
    background-size: 100% 1rem;
  }
  .depth2 > ul > li > ul {
    padding-top: 1.6rem;
  }
  .depth2 > ul > li > ul > li > a {
    color: #666666;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.07rem;
  }
}
@media (1000px > width) {
  .logo {
    order: 2;
    justify-self: center;
  }
}

@layer Componets.Sitemap {
  .sitemap {
    width: auto;
    height: auto;
    inset: 9.4rem 0 0 100%;
    transition: 0.5s allow-discrete;
  }
  .sitemap:popover-open {
    inset: 9.4rem 0 0 0;
  }
  @starting-style {
    .sitemap:popover-open {
      inset: 9.4rem 0 0 100%;
    }
  }
  .sitemap__nav {
    overflow: auto;
    height: 10rem;
    background-color: #fac300;
  }
  .sitemap__nav::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  .sitemap__nav::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
  }
}
@layer Layout.Header {
  .header {
    anchor-name: --header;
    border-bottom: 0.1rem solid #fac300;
  }
  @media (1000px > width) {
    .header {
      background-color: #fac300;
      padding: 2.2rem 3.2rem;
    }
  }
  .header__inner {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 11.4rem;
  }
  .header .utillity {
    display: flex;
    align-items: center;
    gap: 2.6rem;
  }
  @media (1000px > width) {
    .header .utillity {
      order: 3;
    }
  }
}
@layer Popup.Header {
  body:has(#sitemap:popover-open) .hader .btn-search {
    display: none;
  }
  body .header__inner ::before {
    content: "";
    width: 3rem;
  }
}
@layer layout.Footer {
  .footer {
    color: #666666;
    font-size: 1.4rem;
  }
  @media (1000px > width) {
    .footer {
      color: #cccccc;
      font-size: 2rem;
    }
  }
  .footer__advertisement {
    font-size: 0;
  }
  .footer__advertisement img {
    aspect-ratio: 8.74;
    object-fit: cover;
  }
  @media (1000px > width) {
    .footer__advertisement img {
      aspect-ratio: 7.058;
    }
  }
  .footer__bottom {
    border-top: 1px solid #666666;
    background-color: #ffffff;
  }
  @media (1000px > width) {
    .footer__bottom {
      padding: 0 3rem 0 3.8rem;
      background-color: #3f3f3f;
    }
  }
  @media (1000px > width) {
    .footer__bottom {
      padding: 3.8rem 3rem;
      background: #3f3f3f;
    }
  }
  .footer__bottom .logo {
    color: yellow;
    font-size: 2.6rem;
    font-weight: 700;
  }
  @media (1000px > width) {
    .footer__bottom > div {
      width: 100%;
    }
  }
  .footer__address {
    font-weight: 500;
    margin-top: 4.6rem;
    display: flex;
    align-items: center;
  }
  .footer__address > * + * {
    display: flex;
    align-items: center;
  }
  .footer__address > * + *::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    margin-inline: 1rem;
    background-color: #666666;
  }
  @media (1000px > width) {
    .footer__address {
      display: block;
      color: #cccccc;
    }
    .footer__address address {
      margin-top: 2rem;
    }
  }
  .footer__address address:before {
    border-radius: 10rem;
  }
  @media (1000px > width) {
    .footer__address address:before {
      display: none;
    }
  }
  .footer__contact {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }
  @media (1000px > width) {
    .footer__contact {
      gap: 0;
      display: flex;
      align-items: center;
    }
    .footer__contact > * + * {
      display: flex;
      align-items: center;
    }
    .footer__contact > * + *::before {
      content: "";
      width: 0.2rem;
      height: 0.2rem;
      margin-inline: 1rem;
      background-color: #cccccc;
    }
  }
  .footer__copy {
    margin-top: 3.5rem;
    font-weight: 500;
  }
  @media (1000px > width) {
    .footer__copy {
      margin-top: 5rem;
      font-weight: 400;
    }
  }
}
@layer Layout.IR {
  .a11y-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@layer Layout.Space {
  .mt10 {
    margin-top: 1rem;
  }
  .mt20 {
    margin-top: 2rem;
  }
  .mr10 {
    margin-right: 1rem;
  }
  .mr20 {
    margin-right: 2rem;
  }
  .mb10 {
    margin-bottom: 1rem;
  }
  .mb20 {
    margin-bottom: 2rem;
  }
  .ml10 {
    margin-left: 1rem;
  }
  .ml20 {
    margin-left: 2rem;
  }
}
@layer layout.Responsive {
  .only-mobile {
    display: none;
  }
  @media (1000px > width) {
    .only-mobile {
      display: block;
    }
  }
}

/*# sourceMappingURL=style.css.map */
