@use "../abstracts/" as *;
@use "../layout/align" as *;
@layer Layout.Header {
  .header {
    anchor-name: --header;
    border-bottom: rem(1) solid $yellow;

    @include mobile {
      background-color: $yellow;
      padding: rem(22) rem(32);
    }
    &__inner {
      @extend .mxauto;
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center;
      gap: rem(114);
    }
    .utillity {
      display: flex;
      align-items: center;
      gap: rem(26);
      @include mobile {
        order: 3;
      }
    }
  }
}
@layer Popup.Header {
  body {
    &:has(#sitemap:popover-open) .hader .btn-search {
      display: none;
    }
    .header__inner {
      ::before {
        content: "";
        width: rem(30);
      }
    }
  }
}
