@use "sass:list";
@use "../abstracts/" as *;

$buttonSize: (
  1: (
    "className": ".base",
    "height": 40,
    "fontSize": 16,
    "paddingInline": 25,
    "borderWidth": 1,
    "fontWeight": null,
  ),
);

//버튼 색상정의
$buttonColor: (
  1: (
    "className": "blue",
    "bgColor": #000,
    "color": #fff,
    "borderColor": red,
  ),
);

$buttonIcon: (
  1: (
    "className": ".ico1",
    "direction": after,
    "imgName": "ico_book.svg",
    "width": 16,
    "height": 16,
  ),
);
@layer Componets.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: rem(8);
    box-sizing: border-box;
    &.fullsize {
      width: 100%;
    }

    @for $index from 1 through list.length($buttonIcon) {
      @include buttonIcon($buttonIcon, $index);
    }

    @for $idx from 1 through list.length($buttonSize) {
      @include buttonSize($buttonSize, $idx);
    }

    @for $index from 1 through list.length($buttonColor) {
      @include buttonColor($buttonColor, $index);
    }
  }
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: rem(10);
    color: $gray99;
    font-size: rem(12);
    font-weight: 700;
    letter-spacing: rem(-0.6);
    white-space: nowrap;
    @include mobile {
      display: none;
    }
    &::before {
      @include background("ico_login.svg");
      content: "";
      width: rem(16);
      height: rem(16);
    }
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: rem(10);
    color: $gray99;
    font-size: rem(12);
    font-weight: 700;
    letter-spacing: rem(-0.6);
    white-space: nowrap;
    @include mobile {
      span {
        @include a11y-hidden;
      }
    }
    &::before {
      @include background("ico_sitemap.svg");
      content: "";
      width: rem(14);
      height: rem(14);
      @include mobile {
        @include background("ico_sitemap_mobile.svg");
        width: rem(28);
        height: rem(28);
        body:has(#sitemap:popover-open) & {
          @include background("ico_close.svg");
        }
      }
    }
  }
  .btn-search {
    @include background("ico_search.svg");
    width: rem(30);
    height: rem(30);
    order: 1;
  }
}
