@use "../abstracts/" as *;
@layer Layout.dialog {
  body:has(.dialog-type1:popover-open) {
    overflow: hidden;
  }
  .dialog-type1 {
    inset: 50% auto auto 50%;
    translate: -50% -40%;
    border: none;
    padding: rem(40);
    text-align: center;
    min-width: rem(380);
    transition: 0.5s allow-discreate;
    opacity: 0;
    &__title {
      color: $gray33;
      font-size: rem(20);
      font-weight: 700;
      letter-spacing: rem(-1);
    }
    &__text {
      color: $gray33;
      text-align: center;

      font-size: rem(14);
      line-height: rem(26);
      letter-spacing: rem(-0.28);
      margin-top: rem(10);
    }
    &::backdrop {
      background-color: rgba($black, 0);

      transition: 0.5s allow-discreate;
    }
    &:popover-open {
      translate: -50% -50%;
      opacity: 1;
      @starting-style {
        translate: -50% -60%;
        opacity: 0;
      }
      &::backdrop {
        opacity: 1;
        background-color: rgba($black, 0.7);
        @starting-style {
          background-color: rgba($black, 0);
        }
      }
    }
  }
}
