@use "../abstracts/" as *;
@use "../layout/align" as *;

@layer Componets.Gnb {
  .gnb {
    @include mobile {
      display: none;
    }
    > ul {
      display: flex;
      gap: rem(40);
      > li {
        padding-block: rem(24);
        > a {
          color: $gray33;
          font-size: rem(16);
          font-weight: 700;
          background: linear-gradient(to bottom, $yellow, $yellow) no-repeat bottom / 0% rem(10);
          transition: 0.5s;
        }
        &:hover {
          > a {
            background-size: 100% rem(10);
          }

          .depth2 {
            grid-template-rows: 1fr;
            border-top: rem(1) solid $yellow;
            translate: 0 rem(-1);
            > ul {
              padding-block: rem(30);
            }
          }
        }
      }
    }
  }
  .depth2 {
    // @include position(f, left, 0, top, anchor(앵커이름 위치));
    @include position(f, left, 0, top, anchor(--header bottom));
    width: 100%;
    background-color: $white;
    translate: 0;
    display: grid;
    grid-template-columns: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s;

    > ul {
      @extend .mxauto;
      overflow: hidden;
      display: flex;
      gap: rem(60);
      translate: rem(208);
      padding-block: rem(0);
      transition: padding-block 0.5s;
      > li {
        > a {
          color: $gray66;
          font-size: rem(14);
          letter-spacing: rem(-0.7);
          font-weight: 700;
          background: linear-gradient(to bottom, $yellow, $yellow) no-repeat bottom / 0% rem(3);
          transition: 0.5s;
        }
        &:hover {
          > a {
            background-size: 100% rem(10);
          }
        }
        > ul {
          padding-top: rem(16);
          > li {
            > a {
              color: $gray66;
              font-size: rem(14);
              font-weight: 400;
              line-height: rem(30);
              letter-spacing: rem(-0.7);
            }
          }
        }
      }
    }
  }
}
