@use "../abstracts/" as *;
@layer components.table {
  caption {
    @include a11y-hidden;
  }
  .table-type1 {
    thead {
      th {
        padding-block: rem(20);
        color: $gray66;
        font-size: rem(14);
        letter-spacing: rem(0.28);
        + th {
          background: linear-gradient(to right, #e1e1e1, #e1e1e1) no-repeat left/rem(1) rem(16);
        }
      }
      tr {
        border: rem(1) solid #e1e1e1;
        border-bottom-color: $gray33;
      }
    }
    tbody {
      td {
        padding: rem(26);
        text-align: center;
        color: $gray66;

        font-size: rem(16);

        letter-spacing: rem(-0.32);
        border-bottom: rem(1) solid #f3f3f3;
      }
    }
  }

  .scroll-table {
    container: scrollTable / inline-size;
    @include mobile {
      position: relative;
      overflow: hidden;
      &.active {
        overflow: auto;
        &::before,
        &::after {
          display: none;
        }
      }
      &::before {
        @include position(a, left, 0, top, 0);
        content: "";
        background-color: rgba($black, 0.2);
        width: 100%;
        height: 100%;
      }
      &::after {
        @include position(a, left, 50%, top, 50%);
        content: "클릭후 \a드래그하세요";
        white-space: pre;
        width: 30cqi;
        text-align: center;
        align-content: center;
        color: $white;
        width: clamp(rem(100), 30cqw, rem(150));
        aspect-ratio: 1;

        font-size: clamp(rem(15), 4cqi, rem(20));

        border-radius: rem(1000);
        background-color: rgba($black, 0.4);
      }
      > table {
        width: rem(1000);
      }
    }
  }
  .table-type2 {
    thead {
      background-color: $gray66;
      th {
        padding-block: rem(20);
        color: $white;
        font-size: rem(14);
        @include mobile {
          display: none;
        }
        + th {
          border-left: rem(1) solid #e1e1e1;
        }
      }
    }
    tbody {
      td {
        padding: rem(20);
        border-bottom: rem(1) solid #e1e1e1;
        color: $gray66;
        font-size: rem(16);
        letter-spacing: rem(-0.8);
        text-align: center;
        @include mobile {
          display: grid;
          grid-template-columns: rem(120) 1fr;
          gap: rem(20);
          text-align: left;
          padding: 0;
          font-size: rem(24);
          align-items: center;
          border: rem(1) solid #e1e1e1;
          + td {
            margin-top: rem(-1);
          }
          &::before {
            content: attr(data-text);
            text-align: center;
            background-color: $gray66;
            color: $white;
            font-size: rem(12);
            padding-block: rem(22);
            align-self: stretch;
            align-content: center;
          }
          text-align: left;
        }
        + td {
          border-left: rem(1) solid #e1e1e1;
        }
      }
      tr {
        @include mobile {
          display: block;
          + tr {
            margin-top: rem(20);
          }
        }
      }
    }
  }
  .table-type3 {
    border-top: rem(1) solid $gray99;
    @include mobile {
      border: none;
      colgroup {
        display: none;
      }
    }
    tr {
      border-bottom: rem(1) solid #e1e1e1;
      @include mobile {
        border: none;
      }
    }
    :is(th, td) {
      padding: rem(18) rem(20);
      font-size: rem(16);
      line-height: rme(14);
      @include mobile {
        display: block;
        padding: 0;
        font-size: rem(26);
        line-height: 1.8;
      }
    }
    th {
      color: $black;
      text-align: left;
      font-size: rem(16);
      font-weight: 500;
      @include mobile {
        color: $gray66;
      }
    }
    td {
      color: $gray99;
      @include mobile {
        padding-top: rem(10);
      }
    }
  }
}
