@use "./background" as *;
@use "../function" as *;

@mixin badgeSize($varName, $index) {
  &#{map-get($varName, $index, className)} {
    height: rem(map-get($varName, $index, height));
    font-size: rem(map-get($varName, $index, fontSize));
    padding-inline: rem(map-get($varName, $index, paddingInline));
    border: rem(map-get($varName, $index, borderWidth)) solid;
    font-weight: map-get($varName, $index, fontWeight);
  }
}
@mixin badgeSize($varNmae, $index) {
  &#{map-get($varNmae, $index, className)} {
    background-color: map-get($varNmae, $index, bgColor);
    color: map-get($varNmae, $index, color);
    border-color: map-get($varNmae, $index, borderColor);
  }
}
