$orange: #f69740;
$skyblue: #38c3ef;
$green: #88d948;
$blue: #6892d0;
$grayb4: #b4b4b4;
$graye2: #e2e2e2;
$white: #ffffff;
$gray99: #999999;
$graye0: #e0e0e0;
$gray33: #333333;
$gray66: #666666;
$gray3f: #3f3f3f;
$graycc: #cccccc;
$yellow: #fac300;
$black: #000;
$imgurl: "../images/";
//반응형기준
$mobileSize: 1000px;
$tabletSize: 1200px;
